* {
  margin: 0;
  padding: 0;
  border: none;
}
.contaier {
  width: 60%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
body {
  font-family: "Montserrat" sans-serif;
  background: #faf6f6;
}
#header {
  padding: 37px 80px 80px 90px;
  position: sticky;
  top: 0;
  z-index: 99;
  backdrop-filter: blur(4px);
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.header-nav a {
  color: #2a2d46;
  font-size: 12px;
  font-weight: 400;
  margin: 0 25px;
}
.header-nav a:hover {
  color: rgb(37, 80, 201);
  text-decoration: underline;
  font-size: 14px;
}

.header-number {
  color: #2a2d46;
  font-size: 13px;
  font-weight: 700;
}
.header-nav span {
  position: relative;
  top: 5px;
}
.header-nav button {
  width: 130px;
  height: 30px;
  color: #eb2d66;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  background: white;
  border: 1px solid #eb2d66;
  cursor: pointer;
}
.header-nav button:hover {
  color: rgb(245, 253, 249);
  background: #65b1f0;
  border: none;
}
.price span {
    color: #eb2d66;
    font-size: 20px;
  }
  .price select {
    color: #2a2d46;
    font-size: 14px;
    font-weight: 600;
    background: white;
    border: none;
  }

#second {
  padding: 100px 150px;
}
.second-container {
  display: flex;
  gap: 20px;
  margin-left: 100px;
}
.second-container a {
  color: #2a2d46;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0 40px 60px;
}
.second a:hover {
  color: #65b1f0;
}
.second h1 {
  color: #2a2d46;
  font-size: 25px;
  font-weight: 900;
}
.second-images {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 60px 0;
}
.second-images h1 {
  color: #2a2d46;
  font-size: 17px;
  font-weight: 900;
  line-height: normal;
}
.second-images p {
  color: #2c3ba0;
  font-size: 12px;
  font-weight: 400;
  line-height: 154.9%;
}
.second-images h4 {
  color: #0c76d8;
  font-size: 15px;
  font-weight: 900;
  line-height: normal;
}
.second-images h4 span {
  stroke-width: 1px;
  stroke: #eb2d66;
}
.second-images img {
  padding: 10px 40px 10px 40px;
}

.second-text {
  position: relative;
  margin-top: 20px;
}
.apple {
  background: #fff;
  box-shadow: 0px 7px 35px 0px rgba(170, 169, 169, 0.822);
  width: 270px;
  height: 487px;
  padding: 20px;
}
.second-text1 p {
  position: absolute;
  left: 900px;
  top: 280px;
  color: #2a2d46;
}
.second-text2 {
  position: relative;
  margin-top: 20px;
}
.second-text3 p {
  position: absolute;
  left: 650px;
  top: 600px;
  color: #2a2d46;
}
.second-text4 {
  position: relative;
  margin-top: 20px;
}
.second-text5 p {
  position: absolute;
  left: 960px;
  top: 590px;
  color: #2a2d46;
}

#footer {
    background: #343a62;
    height: 310px;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 150px;
  }
  
  .footer-nav a{
      color: #FFF;
      font-size: 12px;
      font-weight: 400;
      padding: 0 60px 0 80px;
  }
  .footer-nav span{
      color: #FFF;
      font-size: 18px;
      font-weight: 400;
      padding: 40px 30px;
  }
  .footer-nav button{
      width: 130px;
      height: 30px;
      color: #eb2d66;
      text-align: center;#343A62
      font-size: 11px;
      font-weight: 700;
      background:#343A62 ;
      border: 1px solid #eb2d66;
      cursor: pointer;   
  }